*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #070707;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #111210;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(15, 255, 43, 0.903);
    padding: 30px;
    padding-right: 70px;
    width: 300px;
}

#display {
    width: 100%;
    height: 60px; 
    margin-bottom: 20px; 
    text-align: right;
    padding: 20px; 
    font-size: 32px; 
    color: white;
    border: 1px solid #bdfa05;
    background-color: #1f5126c6;
    border-radius: 5px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 25px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: #224723;
    cursor: pointer;
    color: aqua;
    transition: background-color 0.3s;
    border: 1px solid #cbf707;
}
#equal{
    background-color: #f69611;
}
button:hover {
    background-color: #156b3c;
}
button:active {
    background-color: #7df505;
    border-color: yellow; 
    transform: scale(0.95);
}